/* Zerando as configurações de css e iniciando uma base */

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* sans-serif= sem frescurinhas na letra*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* faz todas as transitions, deixar tudo masi lentinho e bonitinho */
  transition: all 0.3s ease; 
}